<div class="grid grid-nogutter surface-section text-800">
    <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
        <section>
            <span class="block text-6xl font-bold mb-1 tipografia">Consultora AC</span>
            <div class="text-6xl text-primary font-bold mb-3 texto">Atención altamente especializada y personalizada</div>
            <p class="mt-0 mb-4 text-700 line-height-3 tipografia">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            
        </section>
    </div>
    <div class="col-12 md:col-6 overflow-hidden">
        <img src="https://resizer.glanacion.com/resizer/tpFch-yaj-Iwf8iEkrlbrPO6uf8=/768x0/filters:quality(80)/cloudfront-us-east-1.images.arcpublishing.com/lanacionar/25Y4RTFWPNAJXLUUZZ6PJHH5XM.jpg" alt="Image" class="md:ml-auto block md:h-full" style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
    </div>
</div>


<div class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center">
    <div class="mb-3 font-bold text-2xl">
        <span class="text-900">Nuestros Servicios</span>
        <span class="text-blue-600"> y Caracteristicas </span>
    </div>
    <div class="text-700 text-sm mb-6">Aca mostramos algunos de nuestros servicios</div>
    <div class="grid">
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-envelope text-4xl text-blue-800"></i>
            </span>
            <div class="text-900 mb-3 font-medium">Alternativas de inversion</div>
            <span class="text-700 text-sm line-height-3">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</span>
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-dollar text-4xl text-blue-800"></i>
            </span>
            <div class="text-900 mb-3 font-medium">Servicios contables</div>
            <span class="text-700 text-sm line-height-3">Risus nec feugiat in fermentum posuere urna nec. Posuere sollicitudin aliquam ultrices sagittis.</span>
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-check-circle text-4xl text-blue-800"></i>
            </span>
            <div class="text-900 mb-3 font-medium">Facilidad de contacto</div>
            <span class="text-700 text-sm line-height-3">Ornare suspendisse sed nisi lacus sed viverra tellus. Neque volutpat ac tincidunt vitae semper.</span>
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-globe text-4xl text-blue-800"></i>
            </span>
            <div class="text-900 mb-3 font-medium">Soporte Global</div>
            <span class="text-700 text-sm line-height-3">Fermentum et sollicitudin ac orci phasellus egestas tellus rutrum tellus.</span>
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-credit-card text-4xl text-blue-800"></i>
            </span>
            <div class="text-900 mb-3 font-medium">Servicios Legales</div>
            <span class="text-700 text-sm line-height-3">Nec tincidunt praesent semper feugiat. Sed adipiscing diam donec adipiscing tristique risus nec feugiat. </span>
        </div>
        <div class="col-12 md:col-4 md:mb-4 mb-0 px-3">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-shield text-4xl text-blue-800"></i>
            </span>
            <div class="text-900 mb-3 font-medium">Buena seguridad</div>
            <span class="text-700 text-sm line-height-3">Mattis rhoncus urna neque viverra justo nec ultrices. Id cursus metus aliquam eleifend.</span>
        </div>
    </div>
</div>

<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
    <div class="text-700 text-center">
        <div class="text-900 font-bold text-5xl mb-3">¿Quienes somos?</div>
        <div class="text-700 text-2xl mb-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit numquam eligendi quos.</div>
        <button pButton pRipple label="Ver mas" icon="pi" class="font-bold px-5 py-3 p-button-raised p-button-rounded white-space-nowrap"></button>
    </div>
</div>

<footer class="pie-pagina">
    <div class="grupo-1">
        <div class="box">
            <figure>
                <a href="#">
                    <img src="assets/images/Logo camara.png">
                </a>
            </figure>
        </div>
        <div class="box">
            <h2>SOBRE NOSOTROS</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, recusandae.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, recusandae.</p>
        </div>
        <div class="box">
            <h2>SIGUENOS</h2>
            <div class="red-social">
                <a href="#" class="pi pi-facebook"></a>
                <a href="#" class="pi pi-instagram"></a>
                <a href="#" class="pi pi-twitter"></a>
                <a href="#" class="pi pi-youtube"></a>
            </div>
        </div>
    </div>

    <div class="grupo-2">
        <small> &copy; 2021 <b>Sleew Dw</b> - Todos los derechos reservados</small>
    </div>
</footer>