<p-menubar [model]="items" class="c">
  <ng-template pTemplate="start">
      <img src="assets/images/Logo camara.png" height="40" class="p-mr-2">
  </ng-template>
  <button *ngIf="!islogged" routerLink="login"
   class="buttonIC p-menuitem-link"
   
   ><span class="p-menuitem-icon" ng-reflect-ng-class=""></span>
    
  <span class="p-menuitem-text"   >LOGIN</span>
 </button>


  <button *ngIf="islogged" (click)="cerrarSesion()"  
  class="buttonIC p-menuitem-link"
 
  ><span class="p-menuitem-icon" ng-reflect-ng-class=""></span>
    
  <span class="p-menuitem-text"  >CERRAR SESION</span>
   </button>

</p-menubar>
<router-outlet></router-outlet>
