
<div class="grid grid-nogutter surface-section text-800 quienes-somos-1">
    <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
        <section>
            <span class="block text-6xl font-bold mb-1 tipografiar">Quienes Somos?</span>
            <p class="mt-0 mb-4 text-700 line-height-3 tipografia">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim voluptatum sed, fugiat quia, porro amet odio officia fuga eaque nam velit ut est laudantium distinctio alias consequatur iure molestiae accusantium quas repudiandae? Id, libero architecto. Explicabo ab quisquam neque itaque nam, adipisci quidem temporibus voluptatum ea nisi quod excepturi totam.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis amet autem incidunt beatae praesentium nesciunt impedit, blanditiis eius hic error?</p>
        </section>
    </div>
    <div class="col-12 md:col-6 overflow-hidden quienes-somos">
        <img src="assets/images/quienes-somos-1.jpg" alt="Image" class="md:ml-auto block md:h-full" >
    </div>
</div>

<div class="surface-ground px-4 py-8 md:px-6 lg:px-8" style="background-color: rgb(245, 245, 245);" >
    <div class="text-900 font-bold text-6xl mb-4 text-center staff">Miembros del staff</div>
    <div class="text-700 text-xl mb-6 text-center line-height-3 staff">a continuacion se ven algunos miembros del staff</div>

    <div class="container">

        <div class="card">
          <div class="face face1">
            <div class="content">
              <span class="stars"></span>
              <h2>Slenderbrine100</h2>
              <p>que facha es el ura </p>
            </div>
          </div>
          <div class="face face2">
            <h2></h2>
          </div>
        </div>
      
        <div class="card">
          <div class="face face1">
            <div class="content">
              <span class="stars"></span>
              <h2 class="">Triffuny</h2>
              <p class="">Simplemente la mama de triffuny</p>
            </div>
          </div>
          <div class="face face2">
            <h2></h2>
          </div>
        </div>
      
        <div class="card">
          <div class="face face1">
            <div class="content">
              <span class="stars"></span>
              <h2 class="">SantiPingui58</h2>
              <p class="">el mejor builder del servidor</p>
            </div>
          </div>
          <div class="face face2">
            <h2></h2>
          </div>
        </div>
      </div>
</div>





<footer class="pie-pagina">
    <div class="grupo-1">
        <div class="box">
            <figure>
                <a href="#">
                    <img src="assets/images/Logo camara.png">
                </a>
            </figure>
        </div>
        <div class="box">
            <h2>SOBRE NOSOTROS</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, recusandae.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, recusandae.</p>
        </div>
        <div class="box">
            <h2>SIGUENOS</h2>
            <div class="red-social">
                <a href="#" class="pi pi-facebook"></a>
                <a href="#" class="pi pi-instagram"></a>
                <a href="#" class="pi pi-twitter"></a>
                <a href="#" class="pi pi-youtube"></a>
            </div>
        </div>
    </div>

    <div class="grupo-2">
        <small> &copy; 2021 <b>Sleew Dw</b> - Todos los derechos reservados</small>
    </div>
</footer>