form{
    width: 450px;
    margin:auto;
    background: rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 40px;
    border-radius: 7px;
    font-family: Arial !important;

}
h2{
    color:black;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}
input,textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border:none;

}
textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;

}
#boton{
    background-color:rgba(35, 30, 105, 0.85)  ;
    color: #fff;
    padding: 20px;
}
#boton:hover{
    cursor:pointer
}
@media (max-width:480px) {
    form{
        width: 100%;
    }
}
/* footer */
.pie-pagina{
    width: 100%;
    background-color:rgba(255, 255, 255, 0.89) ;
    font-family: Arial !important;
    border-top: 2px solid black;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin:auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px ;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{ 
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: rgb(0, 0, 0);
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #000000;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: rgb(255, 255, 255);
    margin-right: 10px;
    background-color: rgba(35, 30, 105, 0.85);
    text-align: center;
    transition: all 300ms ease;
    &:hover{
        color: aqua;
    }
}
.pie-pagina .grupo-2{
    background-color: rgba(231, 231, 231, 0.85);
    padding: 15px 10px;
    text-align: center;
    color: rgb(0, 0, 0);
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}

@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px ;
        padding: 35px 0px;
    }
}
