<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="">
        <h2>Contacto</h2>
        <input type="text" name="Nombre" placeholder="Nombre">
        
        <input type="text" name="Correo" placeholder="Correo">
        
        <input type="text" name="Telefono" placeholder="Telefono">

        <textarea name="mensaje" placeholder="Escriba aqui su mensaje"></textarea>
        <input type="button" value="ENVIAR" id="boton">
    </form>
    
    <footer class="pie-pagina">
        <div class="grupo-1">
            <div class="box">
                <figure>
                    <a href="#">
                        <img src="assets/images/Logo camara.png">
                    </a>
                </figure>
            </div>
            <div class="box">
                <h2>SOBRE NOSOTROS</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, recusandae.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, recusandae.</p>
            </div>
            <div class="box">
                <h2>SIGUENOS</h2>
                <div class="red-social">
                    <a href="#" class="pi pi-facebook"></a>
                    <a href="#" class="pi pi-instagram"></a>
                    <a href="#" class="pi pi-twitter"></a>
                    <a href="#" class="pi pi-youtube"></a>
                </div>
            </div>
        </div>
    
        <div class="grupo-2">
            <small> &copy; 2021 <b>Sleew Dw</b> - Todos los derechos reservados</small>
        </div>
    </footer>
</body>
</html>